<br />
<<h1>Bienvenido {{name}} en tu rol de {{userLevel}}</h1>
<p>Edad: {{age}}</p>
<p>email: {{email}}</p>
<a href="/api/sessions/logout"><button>Logout</button></a>
<h2>Cart Id: {{cartId}}</h2>
<div>
  <h2>Producto:</h2>
  {{#each cartProducts}}
    <div>
      <p>Product Id: {{this._id}}</p>
      <p>Title: {{this.title}}</p>
      <p>Description: {{this.description}}</p>
      <p>Price: {{this.price}}</p>
      <p>Code: {{this.code}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Category: {{this.category}}</p>
      <p>Status: {{this.status}}</p>
      <p>Thumbnail: {{this.thumbnail}}</p>
      <p>Quantity: {{this.quantity}}</p>
      <br />
    </div>
  {{/each}}
</div>